
    <footer>
        <div class="container-fluid">
            <div class="row p-5">
                <div class="col-sm-4">
                    <div id="quicklinks">
                        <h3>
                            Quick Links
                        </h3>
                        <ul>
                            <li>
                                <a href="https://www.ieee.org">IEEE.org</a>
                            </li>
                            <li>
                                <a href="https://ieeexplore.ieee.org">IEEE Xplore Digital Library</a>
                            </li>
                            <li>
                                <a href="https://ieee-collabratec.ieee.org/">IEEE Collabratec</a>
                            </li>
                            <li>
                                <a href="http://spectrum.ieee.org/">IEEE Spectrum Online</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="social">
                        <h3>Follow us</h3>
                        <div>
                            <a href="https://www.facebook.com/ieeesbtkmce" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="https://www.twitter.com/IEEEorg" target="_blank">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                            <a href="https://www.instagram.com/ieeeorg" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="contact">
                        <h4>Address</h4>
                        <address> TKM College of Engineering,
                            <br> Karicode, Kollam, Kerala
                            <br>pin : 691005
                        </address>
                        <hr class="my-1">
                        <h5>Chairperson</h5>
                        <p>Harry Paul</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid " id="copy">
            <p class="m-0">©IEEE SB, TKMCE</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    </script>
    <script src="./assets/js/burger.min.js"></script>
    <script src="./assets/js/particleground.min.js"></script>
    <script src="./assets/js/script.js"></script>
</body>

</html>