<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IEEE SB TKMCE - Official Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/burger.css"> -->
    <link rel="stylesheet" href="./assets/css/burger.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <header>
        <div class=" container-fluid p-3">
            <div class="row">
                <div class="col-1 menu-container"></div>
                    <div class="b-nav">
                        <li>
                            <a class="b-link" href="/">Home</a>
                        </li>
                        <li>
                            <a class="b-link" href="/membership">Join IEEE</a>
                        </li>
                        <li>
                            <a class="b-link" href="/events">Events</a>
                        </li>
                        <li>
                            <a class="b-link" href="/hwlibrary">Hardware Library</a>
                        </li>
                        <li>
                            <a class="b-link" href="/societies">Societies</a>
                        </li>
                        <li>
                            <a class="b-link" href="/timeline">Timeline</a>
                        </li>
                        <li>
                            <a class="b-link" href="/execom">Execom</a>
                        </li>
                    </div>
                    <!-- Burger-Icon -->
                    <div class="b-container">
                        <div class="b-menu">
                            <div class="b-bun b-bun--top"></div>
                            <div class="b-bun b-bun--mid"></div>
                            <div class="b-bun b-bun--bottom"></div>
                        </div>
                    </div>
                <div class=" col-4 offset-1  col-md-2 offset-md-3">
                    <img src="./assets/images/ieee_mb_blue_1.gif" class="img-fluid float-right" alt="IEEE Logo">
                </div>
                <div class="col-6 col-md-3">
                    <img src="./assets/images/tkmce_logo.png" class="img-fluid float-left" alt="TKMCE Logo">
                </div>
            </div>
        </div>
    </header>