{{> _header }}
<section id="achievements">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 section-title">
            <h2>Our Timeline</h2>
        </div>
        <div class="col-10 offset-1 col-sm-8 offset-sm-2">
            <ul class="timeline timeline-centered">
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2016</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Darrel Chong Award</h3>
                        <p>for the seminar Energy Management in Domestic Domain</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Paper at IEEE GHTC</h3>
                        <p>Razak Mubafar, Minhas Naheem, Mahesh P J has been selected for presenting their paper at IEEE GHTC held at Seattle, Washington, USA</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">IEEE R10 WIE promotion manager</h3>
                        <p>Prof.Sunitha Beevi K selected as IEEE R10 WIE promotion manager </p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2015</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>{{!-- Date here --}}
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Formed RAS and SIGHT </h3>
                        <p></p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>{{!-- Date here --}}
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title"></h3>
                        <p>Mahesh.P.J ,Chair IEEE SIGHT TKMCE participated in R10 Student, young Professionals and Women in Engineering Congress held at Srilanka in July 2015 with a financial support of $300 from R10 SIGHT</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>{{!-- Date here --}}
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title"></h3>
                        <p>Mohammed Rashid, Chair IEEE SB TKMCE participated in R10 Student,Young Professionals and Women in Engineering Congress held at Srilanka in July 2015</p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2014</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">R10 Outstanding Branch Counsellor Award 2014</h3>
                        <p></p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Best Enterpriser Award</h3>
                        <p></p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2011</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">R10 GOLD Award</h3>
                        <p>Mr.Rayees Amar Nishad</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">ISGT ASIA CONFERENCE</h3>
                        <p>The PES Chapter of the IEEE SB TKMCE hosted ISGT ASIA CONFERENCE</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">150 new members</h3>
                        <p>The IEEE SB of TKMCE is the largest SB with more than 150 new member</p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2010</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title"> THE BEST STUDENT BRANCH AWARD </h3>
                        <p>The SB received THE BEST STUDENT BRANCH AWARD in the IEEE Kerala Section.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Exemplary Student Branch Award</h3>
                        <p>Won the Region 10 Exemplary Student Branch Award 2010 for the Third best SB in the Asia-Pacific region.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Third place in Best Website Awards.</h3>
                        <p></p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2009</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title"> New initiative award </h3>
                        <p>Mr. Rayees Amar Nishad.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Best Counselor Award</h3>
                        <p>Prof. S Muhammad Kasim</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span></span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Management Support Award</h3>
                        <p>TKM College of Engineering was awarded THE BEST SUPPORTING MANAGEMENT in the Kerala Section.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>
{{> _footer }}