{{> _header }}
<section class="container my-5" id="events">
    <div class="row">
        <div class="col-md-12 section-title">
            <div class="background">
                <div class="wedge-left" data-height="50">
                    <svg width="200" height="100">
                        <polygon points="0 0, 0 100, 150 100, 200 50,200 0" /> Sorry, your browser does not support inline SVG.
                    </svg>
                </div>
                <div class="wedge-right" data-height="50">
                    <svg width="200" height="100">
                        <polygon points="0 50, 0 100, 200 100, 200 0,50 0" /> Sorry, your browser does not support inline SVG.
                    </svg>
                </div>
            </div>
            <h2>Events by our Student Branch</h2>
            <p>At IEEE Student Branch, TKMCE. We conduct many events throughout the year which have great technological and
                social impact</p>
        </div>
        {{#each events}}
        <div class="col-md-3">
            <div class="card">
                <a href="{{EventPage}}">
                    <div class="card-img-top" style="background-image:url('{{ ImageURL }}')"></div>
                    <div class="card-body">
                        <h5 class="card-title">{{Title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <i class='far fa-calendar-alt'></i>{{formatDate StartDate}}-{{formatDate EndDate}}</h6>
                        <p class="card-text">{{Description}}</p>
                    </div>
                </a>
            </div>
        </div>

        {{/each}}
    </div>
</section>
{{> _footer }}