{{> _header }}
<section class="container my-5" id="execom">
    <div class="row" id="execom-table">
        <div class="execom-cell">
            <h1 class="display-3">N</h1>
            <h3>Name</h3>
            <h4 class="muted">Position</h4>
        </div>
        <div class="execom-cell">
            <h1 class="display-3">N</h1>
            <h3>Name</h3>
            <h4 class="muted">Position</h4>
        </div>
        <div class="execom-cell">
            <h1 class="display-3">N</h1>
            <h3>Name</h3>
            <h4 class="muted">Position</h4>
        </div>
        <div class="execom-cell">
            <h1 class="display-3">N</h1>
            <h3>Name</h3>
            <h4 class="muted">Position</h4>
        </div>
        <div class="execom-cell">
            <h1 class="display-3">N</h1>
            <h3>Name</h3>
            <h4 class="muted">Position</h4>
        </div>
        <div class="execom-cell">
            <h1 class="display-3">N</h1>
            <h3>Name</h3>
            <h4 class="muted">Position</h4>
        </div>
        <div class="execom-cell">
            <h1 class="display-3">N</h1>
            <h3>Name</h3>
            <h4 class="muted">Position</h4>
        </div>
    </div>
</section>
{{> _footer }}