{{> _header }}
<section class="container my-5" id="hwlibrary">
    <div class="row">
        <div class="col-md-12 section-title">
            <div class="background">
                <div class="wedge-left" data-height="50">
                </div>
                <div class="wedge-right" data-height="50">
                </div>
            </div>
            <h2>Hardware Library</h2>
            <p>The Hardware Library is your one-stop-shop for all components. Be it arduino boards, raspberry pi, sensor modules
                or accessories, we’ve got you covered for all those hardware needs. Your creativity is the limit to giving
                life to these tools and completing your project. It is completely free for all IEEE members.</p>
        </div>
    </div>
</section>
<section class="container my-5" id="inventory">
    <div class="row">
    {{#each hardware}}
    <div class="col-md-3">
        <div class="card">
                <div class="card-img-top" style="background-image:url('{{ ImageURL }}')"></div>
                <div class="card-body">
                    <h5 class="card-title">{{ItemName}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <a href="{{ DataSheet }}"><i class='far fa-calendar-alt'></i>DataSheet</a></h6>
                </div>
        </div>
    </div>

    {{/each}}
    </div>
</section>
{{> _footer }}