{{> _header }}
<section class="jumbotron jumbotron-fluid hero bg-transparent">
    <div class="container-fluid h-100">
        <div class="row align-items-center h-100">
            <div class="col-sm-6 offset-md-6">
                <div class=" sb-name text-white">
                    <h1>IEEE SB</h1>
                    <h1>TKMCE</h1>
                </div>
                {{!--
                <div class="alert alert-dark alert-dismissible fade show" role="alert">
                    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> --}}
            </div>
        </div>
    </div>
</section>
<section id="about-SB">
    <div class="background">
        <div class="wedge-left" data-height="100">
        </div>
        <div class="wedge-right" data-height="100">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 offset-md-3">
                <h1 class="float-right">
                    <i class="far fa-question-circle"></i> &nbsp;About TKMCE</h1>
            </div>
            <div class="col-sm-6">

                <p>Set in a lush green backdrop amidst the sprawling backwaters of Kollam stands Thangal Kunju Musaliar College
                    of Engineering (TKMCE) – an amazing structure with its monumental accents- domes, minarets, et al intricate
                    in both style and design. An elite institution, founded in 1958,situated in the cashew hub of Kerala,TKMCE
                    noted to be the best in the state, imparting to its students the ability to dream and excel with innovation..
                    It stands, to date, like a pearl in the ocean of technical education and basks in the glory of providing
                    true engineers to the global fraternity for the past 58 years and still counting... </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 ">
                <p>The IEEE SB of TKM College of Engineering was formed on 22nd November, 1986. It is the largest SB with more
                    than 115 new members for the year 2013. We won the Region10 Exemplary Student Branch Award for the third
                    best SB in the Asia Pacific Region. We celebrated the Silver Jubilee of establishment in the year 2010.
                    We have an active PES ,WIE affinity group , a special interest group SIGHT and a society RAS..
                </p>
            </div>
            <div class="col-sm-3">
                <h1 class="float-left">
                    <i class="far fa-question-circle"></i> &nbsp;About IEEE TKMCE SB</h1>
            </div>
        </div>
    </div>
</section>
<section id="about-IEEE">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 align-middle">
                <img src="./assets/images/ieee_mb_blue_1.gif" class="img-fluid " alt="IEEE Logo">
            </div>
            <div class="col-sm-6 offset-md-2">
                <h3>
                    <i class="far fa-question-circle"></i> &nbsp;About IEEE</h3>
                <p>IEEE is the world's largest technical professional organization dedicated to advancing technology for the
                    benefit of humanity.</p>
                <h4>
                    <i class="fas fa-bullseye"></i> &nbsp;Mission</h4>
                <p>IEEE's core purpose is to foster technological innovation and excellence for the benefit of humanity.</p>
                <h4>
                    <i class="fas fa-bullseye"></i> &nbsp;Vision</h4>
                <p>IEEE will be essential to the global technical community and to technical professionals everywhere, and be
                    universally recognized for the contributions of technology and of technical professionals in improving
                    global conditions.</p>
            </div>
        </div>
    </div>
</section>
<section id="join">
    <div class="jumbotron">
        <h1 class="display-4">Join Forces with our global network</h1>
        <p class="lead">IEEE memberships support technical innovation for humanity and the profession. Access to cutting-edge information,
            networking opportunities, career enhancement, and many other exclusive member benefits are the key values of
            IEEE membership.</p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/membership" role="button">Learn More</a>
            <a class="btn btn-primary btn-lg" href="http://www.ieee.org/membership_services/membership/join/index.html" role="button">Join Now</a>
        </p>
    </div>
</section>
<section class="container my-4" id="news">
    <div class="row">
        <div class="col-md-3">
            <div id='twitter-feed'>
            <a class="twitter-timeline" href="https://twitter.com/IEEEorg?ref_src=twsrc%5Etfw">Tweets by IEEEorg</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                {{#each posts}}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top" style="background-image:url('{{ ImageURL }}')"></div>
                        <div class="card-body">
                            <h5 class="card-title">{{Title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{formatDate Date}}</h6>
                            <p class="card-text">{{Content}}</p>
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>
        </div>
    </div>
</section>
{{> _footer }}