{{> _header }}

<div  id="membership">
    <div class="background"></div>
    <section class=join id="how">
        <h1>How to join?</h1>
        <p>
            For IEEE international, the membership fees is 27$ (USD);roughly 1800INR Each IEEE member is a part of the Student Branch.
            Membership is valid for a Calendar Year (not academic year) We start taking applications for memberships from
            September (posters will be put up and will be announced on website and college/class notice board) or you can
            <a href="http://www.ieee.org/membership_services/membership/join/index.html">Join Now</a>
        </p>
    </section>
    <section class=join id="why">
        <h1>Why join IEEE?</h1>
        <p>IEEE memberships support technical innovation for humanity and the profession. Access to cutting-edge information,
            networking opportunities, career enhancement, and many other exclusive member benefits are the key values of
            IEEE membership.
        </p>
        <ul id=points>
            <li>
                <h2>Access to cutting-edge knowledge</h2>
                <ul>
                    <li>
                        <a href="http://www.ieee.org/publications_standards/index.html">IEEE Spectrum Magazine</a>
                        &ndash;Monthly (12 issues, print and online)


                    </li>
                    <li>
                        <a href="http://www.ieee.org/publications_standards/index.html">The Institute Newsletter</a>
                        &ndash;Monthly (12 issues: 4 print, 8 online)


                    </li>
                    <li>
                        <a href="http://www.ieee.org/membership_services/membership/students/potentials.html">IEEE Potentials Magazine</a>
                        &ndash;Bimonthly (6 issues, online), dedicated to undergraduate and graduate students and young professionals


                    </li>
                    <li>
                        <a href="http://www.ieee.org/publications_standards/index.html">IEEE Xplore</a>
                        &ndash;Table-of-content and abstract access to 3-million documents


                    </li>
                    <li>
                        <a href="http://www.ieee.org/publications_standards/publications/subscriptions/newieeexplore/signup_whatsnew.html">What &rsquo;s New @ IEEE</a>
                        &ndash;Monthly electronic newsletter, the latest top 10 technical news directly


                    </li>
                </ul>
            </li>
            <li>
                <h2>Networking Opportunities</h2>
                IEEE membership offers several benefits that will help you keep connected and buy power of a global community of professionals
                with over 400,000 members in 160 countries.


                <ul>
                    <li>
                        <a href="http://www.ieee.org/web/membership/benefits/products/prod_sections.html">Local Sections and Chapters </a>
                        &ndash;network with others in the local member community, and participate in local educational events


                    </li>
                    <li>
                        <a href="http://www.ieee.org/web/membership/benefits/products/prod_chapters.html">Technical Chapters </a>
                        &ndash;engage with others through informative technical meetings


                    </li>
                    <li>
                        <a href="http://www.ieee.org/web/membership/benefits/products/prod_emailalias.html">IEEE e-mail alias </a>
                        &ndash;with virus protection and spam filtering


                    </li>
                    <li>
                        <a href="http://www.ieee.org/membership_services/membership/students/index.html">Volunteering</a>
                        &ndash;Volunteer members involved with student activities in over 2,150 student branches have opportunities to build leadership
                        skills and networking opportunities


                    </li>
                    <li>
                        <a href="http://www.ieee.org/membership_services/membership/my_ieee.html">myIEEE</a>
                        &ndash;members-only personalized gateway into IEEE membership


                    </li>
                    <li>
                        <a href="http://www.ieee.org/membership_services/membership/gold/index.html">IEEE Young Professionals</a>
                        &ndash;A vibrant community of engineers, scientists, and technical experts of Graduates of the Last Decade .


                    </li>
                    <li>
                        <a href="http://www.ieee.org/membership_services/membership/women/DF_IEEE_MIG_MCT_99124">IEEE Women in Engineering</a>
                        &ndash;The Largest international professional organization dedicated to promoting women engineers and scientists.


                    </li>
                    <li>
                        <a href="http://www.ieee.org/membership_services/membership/young_professionals/mentoring_connection.html?WT.mc_id=fm2_joi_vis">IEEE Mentor Center </a>
                        &ndash;It is an online voluntarily program that enables IEEE members to establish a mentoring partnership relationship.


                    </li>
                </ul>
            </li>
            <li>
                <h2>Profession</h2>
                IEEE membership builds a platform to introduce technology careers to students, to empower them to build and own their careers,
                and to enhance their resume.


                <ul>
                    <li>
                        <a href="http://careers.ieee.org/">IEEE Job Site</a>
                        &ndash;locate career opportunities easily and confidentially


                    </li>
                    <li>
                        <a href="http://www.ieee.org/membership_services/membership/students/awards/index.html">Awards, scholarships, and fellowships</a>
                        &ndash;Up to $250,000 is awarded to IEEE Student Members per year to recognize the accomplishments of technologists and engineers
                        worldwide! This is available for undergraduate and graduate students; it includes student paper contests
                        and IEEE Student Branch Contests. For detailed information, check out the links.


                    </li>
                    <li>
                        <a href="http://www.ieee.org/membership_services/membership/students/competitions/index.html">Student Competitions</a>
                        &ndash;A variety of local, regional, and global competitions offer students the opportunity to develop professionally and
                        technically, get involved, have fun, and take the challenge


                    </li>
                    <li>
                        <a href="http://www.ieee.org/education_careers/education/partners/index.html">Continuing Education Provider Program</a>
                        &ndash;up to a 10% discount on online degree programs


                    </li>
                    <li>
                        <a href="http://www.ieee.org/web/membership/benefits/products/prod_usatodayeng.html">Today &#39;s Engineer</a>
                        &ndash;monthly webzine devoted to the issues affecting IEEE members careers


                    </li>
                </ul>
            </li>
            <li>
                <h2>Add-On Benefits </h2>
                IEEE Member Discounts, in general, and student member discount, in particular, offer substantial cost savings on various
                products and services as a benefit of IEEE membership. Graduate Students reap the benefits such as discounts
                on many technical resources, reduced registration fees for conferences, plus student discounts on society
                memberships, and so on. In addition, there are several IEEE sponsored discounts.


                <ul>
                    <li>
                        <a href="http://www.ieee.org/conferences_events/index.html">Conference &amp;Event Discounts</a>
                        &ndash;Sponsoring more than 1,100 annual conferences and meetings worldwide, IEEE provides a unique member discount. While
                        conference cost for non-members ranges $500 &ndash;$1200, for IEEE Student Member it reduces hugely.
                        Check out the
                        <a href="http://www.ieee.org/web/conferences/search/index.html">IEEE conferences</a>
                        you can search 2012 if you just want to browse them.


                    </li>
                    <li>
                        <a href="http://www.ieee.org/membership_services/membership/discounts/index.html">IEEE discounted products</a>
                        &ndash;Many IEEE core products, including
                        <a href="http://www.ieee.org/publications_standards/publications/books/index_books.html">Books &amp;eBooks</a>
                        ,
                        <a href="http://www.ieee.org/education_careers/education/elearning_library/index.html">IEEE eLearning Library</a>
                        ,
                        <a href="http://www.ieee.org/societies_communities/SocietiesandCommunitiesLandingPage_20101209134921">IEEE Society Memberships</a>
                        ,
                        <a href="http://www.ieee.org/publications_standards/publications/subscriptions/index_%20subscriptions.html">Digital Library Subscriptions</a>
                        , and
                        <a href="http://www.ieee.org/about/volunteers/training/standards/DF_IEEE_MIG_MCT_90595">Standards</a>
                        are discounted as a benefit of membership.


                    </li>
                    <li>
                        <a href="http://www.ieee.org/membership_services/membership/discounts/index.html">IEEE sponsored discounts</a>
                        &ndash;A snapshot of the Member Discounts portfolio is provided in this link. The list includes
                        <a
                            href="http://www.ieee.org/membership_services/membership/discounts/group_insurance.html">Insurance</a>
                            ,
                            <a href="http://www.ieee.org/membership_services/membership/discounts/secure/home_office.html">Home/Office services</a>
                            ,
                            <a href="http://www.ieee.org/membership_services/membership/discounts/secure/technology.html">Technology</a>
                            (Dell, HP),
                            <a href="http://www.ieee.org/membership_services/membership/discounts/secure/travel_discounts.html">Travel</a>
                            (car rental, credit card), with as much as 50% off IEEE products.


                    </li>
                </ul>
            </li>
            <ul>
    </section>
</div>

{{> _footer }}