{{> _header }}
<section class="container my-5">
    <div class="row">
        {{#each posts}}
        <div class="col-md-3">
            <div class="card">
                
                {{#if ImageURL}}
                <img class="card-img-top" src="{{ ImageURL }}" alt="Card image cap">
                {{else }}
                <img class="card-img-top" src="./assets/images/ieee_mb_blue_1.gif" alt="Card image cap">
                {{/if}}
                <div class="card-body">
                    <h5 class="card-title">{{Title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{Date}}</h6>
                    <p class="card-text">{{Content}}</p>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</section>
{{> _footer }}