{{> _header }}
<section class="container  my-5" id="societies">
    <article class="row">
        <div class=" col-md-4">
            <img class="img-fluid" alt="logo" src="./assets/images/logos/wie-logo.gif">
        </div>
        <div class=" col-md-6">
            <h1 class="display-1">Women In Engineering</h1>
            <p>IEEE WIE envisions a community of men and women collectively using their potentials for the betterment of humanity.
                WIE aims at facilitating the recruitment and retention of women in technical disciplines globally.
            </p>
            <p>IEEE WIE strives to recognize women's outstanding achievements in electrical and electronics engineering through
                IEEE Awards nominations, organize various events to enhance networking and to promote membership in WIE,
                advocate women in leadership roles in IEEE governance and career advancement for women in the profession,
                provide assistance with the formation of new WIE Affinity Groups and support ongoing activities, facilitate
                the development of program and activities that promote the entry into and retention of women in engineering
                programs, administer the IEEE Student-Teacher and Research Engineer/Scientist (STAR) Program to mentor young
                women in junior and high SCHOOLS</p>
        </div>
    </article>
    <article class="row">
        <div class=" col-md-4">
            <img class="img-fluid" alt="logo" src="./assets/images/logos/cs-logo.gif">
        </div>
        <div class=" col-md-6">
            <h1 class="display-1">IEEE Computer Society</h1>
            <p>The IEEE Computer Society is the world's leading membership organization dedicated to computer science and technology.
                Serving more than 60,000 members, the IEEE Computer Society is the trusted information, networking, and career-development
                source for a global community of technology leaders that includes researchers, educators, software engineers,
                IT professionals, employers, and students.</p>
            <p>The IEEE Computer Society sponsors more than 200 technical conferences and events each year, including the industry-oriented
                "Rock Stars" series, all over the world, aimed at research and industry professionals. Our publications are
                peer-reviewed, indexed, and authored by technology thought leaders worldwide, and include 17 scholarly journals
                and 13 magazines featuring the latest technology trends. We also offer cutting-edge products such as the
                myComputer app (available for iOS or Android), that provide unprecedented user-driven access to our content,
                and our Digital Library with more than 550,000 articles and papers spanning the full spectrum of computer
                science and technology</p>
        </div>
    </article>
    <article class="row">
        <div class=" col-md-4">
            <img class="img-fluid" alt="logo" src="./assets/images/logos/pes-logo.png">
        </div>
        <div class=" col-md-6">
            <h1 class="display-1">Power &amp; Energy Society</h1>
            <p>The Power &amp; Energy Society (PES) provides the world's largest forum for sharing the latest in technological
                developments in the electric power industry, for developing standards that guide the development and construction
                of equipment and systems, and for educating members of the industry and the general public. Members of the
                Power &amp; Energy Society are leaders in this field, and they — and their employers — derive substantial
                benefits from involvement with this unique and outstanding association.</p>
            <p>PES TKMCE was started on the keen interest of students on planning, research and development of safe,reliable
                and economic generation, transmission and distribution of electrical energy. The society has been active
                from then onwards with lots of programs being conducted in college and its surroundings.</p>
        </div>
    </article>
    <article class="row">
        <div class=" col-md-4">
            <img class="img-fluid" alt="logo" src="./assets/images/logos/ias-logo.png">
        </div>
        <div class=" col-md-6">
            <h1 class="display-1">Industry Applications Society</h1>
            <p>The Industry Applications Society, as a transnational organization, is interested in advancement of the theory
                and practice of electrical and electronic engineering in the development, design, manufacture and application
                of electrical systems, apparatus, devices and controls to the processes and equipment of industry and commerce;
                promotion of safe, reliable and economic installations; industry leadership in energy conservation and environmental,
                health, and safety issues; creation of voluntary engineering standards and recommended practices; and the
                professional development of its membership.
            </p>
        </div>
    </article>
    <article class="row">
        <div class=" col-md-4">
            <img class="img-fluid" alt="logo" src="./assets/images/logos/ras-logo.png">
        </div>
        <div class=" col-md-6">
            <h1 class="display-2">Robotics and Automation Society</h1>
            <p>The IEEE Robotics and Automation Society (IEEE RAS) is a professional society of IEEE which provides a platform
                for advanced innovation, education and fundamental and applied research in robotics and automation.
                <h3>The Mission and Vison of RAS</h3>
                Our Mission is to serve as a platform for continuous research, learning and networking through RAS Our Vision is to create
                an innovative society which uses robotics as a tool to improve and support mankind. Also, to promote applicability
                of robotics and automation to pertinent areas of industrial and commercial importance.
                <h3>Field of Interest</h3> The Society states in its Constitution that it “is interested in both applied and
                theoretical issues in robotics and automation”. Robotics is here defined to include intelligent machines
                and systems used, for example, in space exploration, human services, or manufacturing; whereas automation
                includes the use of automated methods in various applications, for example, factory, office, home, or transportation
                systems to improve the performance and productivity.
            </p>
        </div>
    </article>
    <article class="row">
        <div class=" col-md-4">
            <img class="img-fluid" alt="logo" src="./assets/images/logos/sight-logo.png">
        </div>
        <div class=" col-md-6">
            <h1 class="display-3">Special Interest Group on Humanitarian Technology</h1>
            <p>SIGHT TKMCE is a visionary initiative from IEEE SB TKMCE to give special emphasis among its volunteers on humanitarian
                technology and innovation. The SIGHT TKMCE hasgrown a lot over the one year of its establishment from last
                spring. SIGHT TKMCE has accomplished a lot of its aims during this primary course of time.One of the major
                vision when starting SIGHT TKMCE was to bring together other parallel humanitarian initiatives in the college
                to a common platform and collaborate with IEEE for achieving a leveraged output.SIGHT steering committee
                provides volunteers with a lot of opportunities for doing humanitarian projects, studies, surveys, presentations,
                and also encouraging them to participate in conferences. Through this, IEEE creates a triumphant humanitarian
                community in a global level. SIGHT is also giving off enormous funding opportunities for encouraging its
                beneficiaries to utilise the IEEE membership benefits to its maximum. Through many of its recent activities,
                SIGHT TKMCE has utilised many privileges for getting funds. Current ExCom has an ongoing project approved
                by global SIGHT steering committee. In two phase, it has a total funding of 500USD. SIGHT TKMCE also represented
                its presence in 2015 Region 10 congress, Sri Lanka for an exclusive SIGHT track under the expense and participation
                funding from the steering committee.
            </p>
        </div>
    </article>
</section>
{{> _footer }}