header{
    box-shadow: 0px 0px 10px black;
    position: relative;
}
.bg-transparent{
    background-color: transparent;
}
html,body{
    height: 100%;
    font-family: 'Droid Sans', sans-serif;
}
.b-nav.open{
    min-width: 50%;
}

/******** Home page ***********/
.hero {
    background-image: url("./../images/header2.jpg");
    height:100%;
    padding: 0px;
    margin: 0px;
    /* background: linear-gradient(45deg, rgba(42,31,98,1) 0%, rgba(49,62,161,1) 47%, rgba(60,134,209,1) 100%); */
}
.hero  canvas{
    position: absolute;
    right: 15px;
}
.b-menu {
    border-radius: 0px; 
}
.sb-name> h1{
    font-size: 5rem;
    margin: 0px;
    padding: 0px;
    font-family: 'Abril Fatface', sans-serif;
    display: inline;
}
.sb-name> h1:nth-child(2){
    color: #00629B;
}
#about-SB{
    position: relative;
    padding: 40px;
    box-shadow: 10px 0px 10px #262626;
}

#about-SB .row{
    padding-bottom:50px; 
}
@media(max-width:575px){
    #about-SB .row{
        border: dashed 2px #00629B  ;
    }
}
#about-SB h1{
    font-size: 3em;
}
#about-SB p{
    padding-top: 50px;
    color: #00629B;
}
#about-IEEE{
    box-shadow: inset 0 0 10px #262626;
    padding: 40px;
    background: linear-gradient(45deg, rgba(42,31,98,1) 0%, rgba(49,62,161,1) 47%, rgba(60,134,209,1) 100%);
    color: white;
}
#twitter-feed {
  height:700px;
  overflow: auto;
  margin-top: 20px;
  border-radius: 2px; 
}
/********** Membership page *********/

#membership{
    position: relative;
    overflow: hidden;
}
/* #membership .background{
    background-image: url("./../images/header2.jpg");
    background-attachment: fixed;
} */
.join {
    margin: 15px 50px;
    background: white;
    border-radius: 15px; 
    padding: 15px;

}
.join h1{
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #E4EAEC;
}
.join#how p{
  text-align: center;
  padding: 0px 30px;
}
/************ hwlibrary   **************/
#hwlibrary  .section-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}
/************ events       **************/
#events  .section-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}
#events .card {
  border-radius: 0px;
  border-color: transparent;
}
#events a{
  text-decoration: none;
}
#events .card:hover {
  box-shadow: 0px 0px 20px #464646;
}
#events .card .card-body{
  background-color: #262626;
  color: White;
  position: relative;
}
#events .card .card-body .card-title {
  border-bottom: solid 1px white;
}
/************ societies   **************/
#societies article{
  margin:2rem;
}
#societies article:nth-child(even) {
  border-right: solid 40px #00629B; 
  border-bottom: solid 10px #00629B; 
}
#societies article:nth-child(odd) {
  border-left: solid 40px #00629B; 
  border-bottom: solid 10px #00629B; 
}
/************ Achievements ***************/

#achievements {
    min-height:100%;
    margin: 0;
    font-family: 'Droid Sans', sans-serif;
    overflow: hidden;
  }
  
  #achievements  .section-title {
    text-align: center;
    margin-bottom: 60px;
    padding: 3em 0;
    border-bottom: 1px solid #E4EAEC;
  }
  #achievements  .section-title p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 400px;
  }
  
  /*==================================
      TIMELINE
  ==================================*/
  /*-- GENERAL STYLES
  ------------------------------*/
  .timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit;
  }
  
  /*----- TIMELINE ITEM -----*/
  .timeline-item {
    padding-left: 40px;
    position: relative;
  }
  .timeline-item:last-child {
    padding-bottom: 0;
  }
  
  /*----- TIMELINE INFO -----*/
  .timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  /*----- TIMELINE MARKER -----*/
  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
  }
  .timeline-marker:before {
    background: #FF6B6B;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  .timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
  }
  .timeline-item:last-child .timeline-marker:after {
    content: none;
  }
  
  .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #FF6B6B;
  }
  
  /*----- TIMELINE CONTENT -----*/
  .timeline-content {
    padding-bottom: 40px;
  }
  .timeline-content p:last-child {
    margin-bottom: 0;
  }
  
  /*----- TIMELINE PERIOD -----*/
  .period {
    padding: 0;
  }
  .period .timeline-info {
    display: none;
  }
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
  }
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
  }
  .period .timeline-content {
    padding: 40px 0 70px;
  }
  .period .timeline-title {
    margin: 0;
  }
  
  /*----------------------------------------------
      MOD: TIMELINE SPLIT
  ----------------------------------------------*/
  @media (min-width: 768px) {
    .timeline-split .timeline, .timeline-centered .timeline {
      display: table;
    }
    .timeline-split .timeline-item, .timeline-centered .timeline-item {
      display: table-row;
      padding: 0;
    }
    .timeline-split .timeline-info, .timeline-centered .timeline-info,
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker,
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content,
    .timeline-split .period .timeline-info,
    .timeline-centered .period .timeline-info {
      display: table-cell;
      vertical-align: top;
    }
    .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
      position: relative;
    }
    .timeline-split .timeline-content, .timeline-centered .timeline-content {
      padding-left: 30px;
    }
    .timeline-split .timeline-info, .timeline-centered .timeline-info {
      padding-right: 30px;
    }
    .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
      position: relative;
      left: -45px;
    }
  }
  
  /*----------------------------------------------
      MOD: TIMELINE CENTERED
  ----------------------------------------------*/
  @media (min-width: 992px) {
    .timeline-centered,
    .timeline-centered .timeline-item,
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-marker,
    .timeline-centered .timeline-content {
      display: block;
      margin: 0;
      padding: 0;
    }
    .timeline-centered .timeline-item {
      padding-bottom: 40px;
      overflow: hidden;
    }
    .timeline-centered .timeline-marker {
      position: absolute;
      left: 50%;
      margin-left: -7.5px;
    }
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-content {
      width: 50%;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    .timeline-centered > .timeline-item.period .timeline-content {
      float: none;
      padding: 0;
      width: 100%;
      text-align: center;
    }
    .timeline-centered .timeline-item.period {
      padding: 50px 0 90px;
    }
    .timeline-centered .period .timeline-marker:after {
      height: 30px;
      bottom: 0;
      top: auto;
    }
    .timeline-centered .period .timeline-title {
      left: auto;
    }
  }
  
  /*----------------------------------------------
      MOD: MARKER OUTLINE
  ----------------------------------------------*/
  .marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #FF6B6B;
  }
  .marker-outline .timeline-item:hover .timeline-marker:before {
    background: #FF6B6B;
  }

/************ General ***************/
.img-window{
    background-image: url("./../images/header2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-origin: content-box;
    overflow: hidden;
}
.img-window > .llo-gram{
    width:30%;
    border:solid 10px white;
    border-bottom: 20px; 
    height: 100%;
    float: left;
    /* margin: -5px; */
    transform: skew(15deg);
}
.img-window > .window-frame{
    background: white;
    width: 5%;
}
.background{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.wedge-left{
    position: absolute;
    top:5px;
    left:5px;
    fill:  rgba(60,134,209,1) ;
}
.wedge-right{
    position: absolute;
    bottom:5px;
    right:5px;
    fill: rgba(60,134,209,1) ;
}
.card{
  margin-top:20px;
}
.card-img-top {
  background-size: cover;
  width:100%;
  height: 180px;
}
.card-body {
  height: 140px;
  overflow: auto;
}
/******** execom ********/
#execom-table .execom-cell {
  width: 200px;
  height:200px;
  padding:20px;
  text-align: center;
}
.execom-cell:hover {
  background: #262626;
  color: #E4E4E4;
}
.execom-cell:hover h1 {
  color: #262626;
}
.execom-cell h1{
  background-color: #D6D6D6;
  border-radius: 50%;
  width:86px;
  height: 86px;
  margin-left: auto;
  margin-right: auto;
}

/******** Footer *********/

footer{
    background: linear-gradient(45deg, rgba(42,31,98,1) 0%, rgba(49,62,161,1) 47%, rgba(60,134,209,1) 100%);
}
 #quicklinks, #social, #contact{
    color: white;
}
 #quicklinks ul, #social ul{
    list-style-type: none;
}
 #quicklinks ul li a, #social a{
    color:white;
}
#social a{
    font-size: 2rem;
}
#copy {
    background: linear-gradient(45deg, rgba(42,31,98,1) 0%, rgba(49,62,161,1) 47%, rgba(60,134,209,1) 100%);
    color:white;
    text-align: center;
    padding: 10px;
}